#welcomeContainer{
    margin-top: 70px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

#placeDistanceScoreContainer{
    margin-top: 70px;
    margin-bottom: 10px;
    text-transform: uppercase;
    background-color: silver;
    color: white;
    font-size: 20px;
}

#mapContainer{
    margin: auto;
    width: 1500px;
    height: 800px;
    border: 5px solid silver;
    cursor: pointer;
}

#statsContainer{
    margin-top: 70px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

form{
    width: 90%;
    margin: auto;
    margin-top: 70px;
}

table{
    counter-reset: section;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

.count:before{
    counter-increment: section;
    content: counter(section);
}

.alert{
    margin-top: 70px;
}

html, body{
   margin: 0;
   padding: 0;
   height: 100%;
}

#main{
   padding: 10px;
   padding-bottom: 60px;
}

#container{
    min-height: 100%;
    position: relative;
}

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}